body {
  background-color: #ffd312;
  overflow: hidden;
  display: flex;
  justify-content: center;

}

.container{
  display: block;
  justify-content: center;
  width: 95vw;
  height: 92vh;
  margin-top: 20px;
  padding: 0px;
  border: 4px solid #414141;
  background-color: white;
  border-radius: 10px;;

  background-size: 90vw;
  background-clip: border-box;
  background-repeat: no-repeat;

  background-position: top center;
}

.top {
  display: flex;
  height: 20%;
}



.main {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50%;
}

.button {
  text-align: center;

  height: 30%;
}


.title {

  width: 70vw;
  height: 10vh;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 1vw;
  font-family: 'MaruBuriBold';
  font-size: 2rem;
  text-align: left;
 

}
